<%- include('partials/head') %>
    <%- include('partials/navbar') %>

        <div class="grid-containersff">
            <div class="grid-itemsff item1sff">
                <%- include('partials/menu') %>
            </div>
            <div class="grid-itemsff item2sff">
                <div class="container">
                    <div class="search-container">
                        <div class="search-container">
                            <label for="coreId">Core ID:</label>
                            <input type="text" id="coreId" class="input-field" placeholder="Enter Core ID">

                            <label for="searchDate">Select Date:</label>
                            <input type="date" id="searchDate" class="input-field" placeholder="Select Date">

                            <label for="searchStartTime">Select Start Time:</label>
                            <input type="time" id="searchStartTime" class="input-field" placeholder="Select Start Time">

                            <label for="searchEndTime">Select End Time:</label>
                            <input type="time" id="searchEndTime" class="input-field" placeholder="Select End Time">

                            <button onclick="searchData()">Search</button>
                            <button onclick="deleteAll()">Delete All</button>
                        </div>

                    </div>
                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Seq No</th>
                                    <th>ID Part No</th>
                                    <th>Quantity</th>
                                    <th>Stock in Time</th>
                                    <th>Stock out Time</th>
                                    <th>block_joint</th>
                                    <th>cup_upper</th>
                                    <th>cup_lower</th>
                                    <th>cap</th>
                                    <th>separator_1</th>
                                    <th>separator_2</th>
                                    <th>separator_3</th>
                                    <th>separator_4</th>
                                    <th>separator_5</th>
                                    <th>separator_6</th>
                                    <th>separator_7</th>
                                    <th>tank_btm</th>
                                    <th>tank_top</th>
                                    <th>header_btm</th>
                                    <th>header_top</th>
                                    <th>side_p_btm</th>
                                    <th>side_p_top</th>
                                    <th>tube</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="dataRows">
                                <% data.forEach(item=> { %>
                                    <tr>
                                        <td>
                                            <%= item.id %>
                                        </td>
                                        <td>
                                            <%= item.id_part_no_3 %>
                                        </td>
                                        <td>
                                            <%= item.quantity %>
                                        </td>
                                        <td>
                                            <%= new Date(item.timestamp).toLocaleString('en-GB', {
                                                timeZone: 'Asia/Bangkok' }) %>
                                        </td>
                                        <td>
                                            <%= item.out ? new Date(item.out).toLocaleString('en-GB', {
                                                timeZone: 'Asia/Bangkok' }) : '-' %>
                                        </td>

                                        <td>
                                            <%= item.block_joint%>
                                        </td>
                                        <td>
                                            <%= item.cup_upper%>
                                        </td>
                                        <td>
                                            <%= item.cup_lower%>
                                        </td>
                                        <td>
                                            <%= item.cap%>
                                        </td>
                                        <td>
                                            <%= item.separator_1%>
                                        </td>
                                        <td>
                                            <%= item.separator_2%>
                                        </td>
                                        <td>
                                            <%= item.separator_3%>
                                        </td>
                                        <td>
                                            <%= item.separator_4%>
                                        </td>
                                        <td>
                                            <%= item.separator_5%>
                                        </td>
                                        <td>
                                            <%= item.separator_6%>
                                        </td>
                                        <td>
                                            <%= item.separator_7%>
                                        </td>
                                        <td>
                                            <%= item.tank_btm%>
                                        </td>
                                        <td>
                                            <%= item.tank_top%>
                                        </td>
                                        <td>
                                            <%= item.header_btm%>
                                        </td>
                                        <td>
                                            <%= item.header_top%>
                                        </td>
                                        <td>
                                            <%= item.side_p_btm%>
                                        </td>
                                        <td>
                                            <%= item.side_p_top%>
                                        </td>
                                        <td>
                                        <td>
                                            <button class="edit"
                                                onclick="openEditModal('<%= item.id %>', '<%= item.id_part_no_4.replace(/\r/g, '') %>', <%= item.quantity %>)">

                                                <i class="fa fa-edit" style="font-size:36px"></i>Edit
                                            </button>
                                            <button class="del" onclick="deletePart('<%= item.id %>')">
                                                <i class="fa fa-trash-o" style="font-size:36px"></i>Delete
                                            </button>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>

                        <div id="editModal" class="modal">
                            <div class="modal-content">
                                <span class="close-btn" onclick="closeEditModal()">&times;</span>
                                <h2>Edit Part</h2>
                                <form id="editForm">
                                    <input type="hidden" id="editId">
                                    <label for="editPartNo">Part No:</label>
                                    <input type="text" id="editPartNo" class="input-field">
                                    <label for="editQty">Quantity:</label>
                                    <input type="number" id="editQty" class="input-field">
                                    <div class="button-group">
                                        <button type="button" class="close-btn-alt" onclick="closeEditModal()"><i
                                                class="fa fa-arrow-circle-left"
                                                style="font-size:24px"></i>Close</button>
                                        <button type="submit" class="save-btn"><i class="fa fa-save"
                                                style="font-size:24px;"></i>Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <link rel="stylesheet" href="/styles.css">
            <link rel="stylesheet" href="/css/ss.css">
            <script src="/js/ss4.js"></script>
            </body>

            </html>